.customOverlay {
    background: rgba(36, 123, 160, 0.7);
  }
  .customModal {    
    padding: 10px !important;
    background: transparent;
    -webkit-box-shadow:none !important;
    box-shadow:none !important;
  }

  .react-responsive-modal-root{
    z-index: 10000;
  }

.react-responsive-modal-closeButton{
  background: white !important;
  border-radius: 100%;
}

.swal-overlay{
  z-index: 100000;
}
  
  